

# ==========================================
# DEPENDENCIES
# ==========================================
node_modules/

# ==========================================
# BUILD OUTPUT
# ==========================================
dist/
.astro/

# ==========================================
# ENVIRONMENT VARIABLES
# ==========================================
.env
.env.*

# ==========================================
# LOGS
# ==========================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==========================================
# IDE / EDITOR
# ==========================================
.idea/
.vscode/

# ==========================================
# OPERATING SYSTEM
# ==========================================
.DS_Store
Thumbs.db